In [64]:
import json
import pandas as pd
import numpy as np

In [65]:
test_event_module_ids = [
    145685290680320000, 155679851376803840, 166235163003453440, 176788275606847488, 187343587233497088, 724152651704434688,
    724153201460248576, 743714063074197504, 743714612830011392, 763699885932281856, 763700435688095744, 763841173176451072,
    763841722932264960, 783825346767093760, 783825896522907648, 783825896522907648]
len(test_event_module_ids)

16

In [66]:
with open("ITk_DetectorBuilder_geometry.json") as fp:
    detector = json.load(fp)

In [67]:
sources = []
barcodes = []

for vol in detector["data"]["volumes"]:
    for srf in vol["surfaces"]:
        sources.append(srf["source"])
        barcodes.append(srf["barcode"])

sources = set(sources)
barcodes = set(barcodes)

sources = np.array(list(sources))
barcodes = np.array(list(barcodes))

In [68]:
athena_acts_map = pd.read_csv("athena_transforms.csv", converters={"ath_geoid": lambda x: np.uint64(int(x, 16)), "acts_geoid": lambda x: np.uint64(int(x))})
athena_acts_map.head(3)

,acts_geoid,acts_vol,acts_bnd,acts_lay,acts_sens,event,hardware,ath_geoid,bec,ld,...,rot_zw,bnd_type,v0_0,v0_1,v1_0,v1_1,v2_0,v2_1,v3_0,v3_1
0,576460889742377216,8,0,2,1,9196,0,18089165300170752,-2,2,...,-1.0,6,-19.3,-20.1,19.3,-20.1,19.3,20.1,-19.3,20.1
1,576460889742377472,8,0,2,2,9196,0,18229902788526080,-2,2,...,-1.0,6,-19.3,-20.1,19.3,-20.1,19.3,20.1,-19.3,20.1
2,576460889742377728,8,0,2,3,9196,0,18370640276881408,-2,2,...,-1.0,6,-19.3,-20.1,19.3,-20.1,19.3,20.1,-19.3,20.1

In [69]:
athena_to_acts = dict(zip(athena_acts_map.ath_geoid, athena_acts_map.acts_geoid))

In [70]:
acts_to_detray = dict(zip(sources, barcodes))

In [71]:
for ath_mid in test_event_module_ids:
    print( acts_to_detray[ athena_to_acts[ ath_mid ] ] )

1184729383861553727
1608070614250027775
1608071039988863999
1626087619805901823
1639598780807616319
1563032718794565375
1049621279747353599
1554025297140942911
1599062205424545151
1617079348151002623
1675628382059590463
1675628442054943487
1639598663232830527
1608071412845890175
1626087013275699775
1626087013275699775